
global-include *LICENSE* *.txt *.md *.rst
recursive-include src/sweet/resources/images *.svg *.png
recursive-include src/sweet/resources/fonts *.ttf
include src/sweet/resources/*.qss
include pyproject.toml
